body{
    background-image: linear-gradient(
        #577ca9,
        #6ed7ce
    );
    display: block;
    text-align: center;
}
#header{
    border: 3px dashed #6ed7ce;
}

#pics{
    margin-right: 100px;
}

#birthday-photo{
    width: 400px;
    margin: 0px 50px 0px 50px;}

#gift-container{
    color: #1d4c92;
    text-shadow: 0 0 8px #6ed7ce;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#hint{
    font-size: 24px;
    color: aqua;
}

.title{
    margin-top: 100px;
    margin-bottom: 10px;
}
.gift-img{
    width: 600px;
    height: 600px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

    border: 4px solid purple;
    border-radius: 10px;
}

#img-funny-mommy:hover,
#img-funny-mommy:active,
#img-funny-mommy:focus{
    background-image: url("images/funnyMommy.jpg");
    border: 8px solid purple;
}

#img-funny-kid:hover,
#img-funny-kid:active,
#img-funny-kid:focus{
    background-image: url("images/funnyKid.jpg");
    border: 8px solid purple;
}

#img-easter:hover,
#img-easter:active,
#img-easter:focus{
    background-image: url("images/easter.jpg");
    border: 8px solid purple;
}

#img-cheese:hover,
#img-cheese:active,
#img-cheese:focus{
    background-image: url("images/cheese.jpg");
    border: 8px solid purple;
}

#img-adventures:hover,
#img-adventures:active,
#img-adventures:focus{
    background-image: url("images/adventurs.jpg");
    border: 8px solid purple;
}

#img-dest:hover,
#img-dest:active,
#img-dest:focus{
    background-image: url("images/destanations.jpg");
    border: 8px solid purple;
}

#img-fam:hover,
#img-fam:active,
#img-fam:focus{
    background-image: url("images/fam.jpg");
    border: 8px solid purple;
}

#img-fam2:hover,
#img-fam2:active,
#img-fam2:focus{
    background-image: url("images/famTwo.jpg");
    border: 8px solid purple;
}

#img-happy:hover,
#img-happy:active,
#img-happy:focus{
    background-image: url("images/fireworks.jpg");
    border: 8px solid purple;
}